@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.body {
  display: flex;
  justify-content: center;
}

.main_container {
  background-color: white;
  display: flex;
  
  max-width: 1500px;
  width: 100%;
  padding: 90px;
}
.picture_container {
  width: 50%;
}

.info_container {
  width: 50%;
}
.profile_bg_img {
  width: 500px;
  height: 550px;
  border-radius: 10px;
  border: 1px solid #edf0f8;
}



.down_photo {
  display: flex;
  gap: 30px;
  padding: 30px 0px;
}
.small-img-wrapper {
  border-radius: 6px;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
}
.selected-sml-img-wrap {
  border-color: #3a4980;
}

.down_image_photo_in {
  height: 115px;
  width: 100px;
  border-radius: 6px;
}

.Marmeto {
  color: #b9bbbf;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 20px;
}

.Embrace {
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  padding: 0px 20px;
}

.line {
  border: 1px solid #e4e4e4;
}

.new_price{
  display: flex;
  
}
.price {
  color: #3a4980;
  font-weight: 700;
  font-size: 34px;
  padding: 5px 20px;
}

.offer_persent {
  font-size: 18px;
  font-weight: 400;
  color: #ff000080;
}
.active-box {
  border: 3px solid #000000;
}

.off_price {
  font-size: 21px;
  font-weight: 400;
  color: #00000077;
  padding: 2px 20px;
}

.color_div {
  padding: 18px 20px;
  font-weight: 500;
  font-size: 16px;
  color: #b9bbbf;
}
#color_variant_container {
  display: flex;
  gap: 12px;
  padding: 10px 0px;
  align-items: center;
}
.color-box {
  border: 3px solid transparent;
}

.inside-color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  cursor: pointer;
}

.yellow {
  background-color: #ecdecc;
}
.green {
  background-color: #bbd278;
}

.blue {
  background-color: #bbc1f8;
}

.pink {
  background-color: #ffd3f8;
}

.yellowBorder {
  border-color: #ecdecc;
}
.greenBorder {
  border-color: #bbd278;
}

.blueBorder {
  border-color: #bbc1f8;
}

.pinkBorder {
  border-color: #ffd3f8;
}

.size_list {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  color: #b9bbbf;
}

.input_size_selectors_parent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.input_size_selector {
  background-color: #edf0f8;
  display: flex;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px 10px 7px 10px;
}
.input_sizes_small {
  width: 81px;
  height: 31px;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #edf0f8;
}

.input_sizes_mediam {
  width: 98px;
  height: 31px;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}
.input_sizes_large {
  width: 82px;
  height: 31px;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}

.input_sizes_xl {
  width: 121px;
  height: 31px;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
  justify-content: center;
  display: flex;
}

.input_sizes_xxl {
  width: 71px;
  height: 31px;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}

.button_add_delete {
  width: 169px;
  height: 59px;
  border-radius: 29.5px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button_delete {
  font-size: 18px;
  font-weight: 700;
  color: #3a4980;
  border: none;
}
.adding_number {
  font-size: 18px;
  font-weight: 700;
  color: #3a4980;
}
.button_add {
  font-size: 18px;
  font-weight: 700;
  color: #3a4980;
  border: none;
}
.btn_add_cart {
  background-color: #3a4980;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 29.5px;
  width: 309px;
  border: transparent;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.text_detiles {
  color: #a3a3a3;
  font-weight: 300;
  margin: 30px 0px;
}
.button_cart_seletor {
  display: flex;
  gap: 25px;
  margin: 30px 0px;
}


/* @media screen and (max-width: 1024px) {

  .profile_bg_img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid #edf0f8;
  }

  .down_photo {
    display: flex;
    gap: 13px;
    padding: 20px 0px;
  }
  .small-img-wrapper {
    border-radius: 6px;
    border: 2px solid;
    border-color: transparent;
    cursor: pointer;
  }
  .selected-sml-img-wrap {
    border-color: #3a4980;
  }
  
  .down_image_photo_in {
    height: 75px;
    width: 63px;
    border-radius: 6px;
  }

  
.Marmeto {
  color: #b9bbbf;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 20px;
}

.Embrace {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  padding: 0px 20px;
}

.line {
  border: 1px solid #e4e4e4;
}

.price {
  color: #3a4980;
  font-weight: 700;
  font-size: 28px;
  padding: 5px 20px;
}

.offer_persent {
  font-size: 17px;
  font-weight: 400;
  color: #ff000080;
}
.active-box {
  border: 3px solid #000000;
}

.off_price {
  font-size: 17px;
  font-weight: 400;
  color: #00000077;
  padding: 2px 20px;
}

.color_div {
  padding: 8px 20px;
  font-weight: 500;
  font-size: 12px;
  color: #b9bbbf;
}
#color_variant_container {
  display: flex;
  gap: 8px;
  padding: 7px 0px;
  align-items: center;
}
.color-box {
  border: 3px solid transparent;
}

.inside-color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;
}

.yellow {
  background-color: #ecdecc;
}
.green {
  background-color: #bbd278;
}

.blue {
  background-color: #bbc1f8;
}

.pink {
  background-color: #ffd3f8;
}

.yellowBorder {
  border-color: #ecdecc;
}
.greenBorder {
  border-color: #bbd278;
}

.blueBorder {
  border-color: #bbc1f8;
}

.pinkBorder {
  border-color: #ffd3f8;
}

.size_list {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  color: #b9bbbf;
}

.input_size_selectors_parent {
  display: flex;
  gap: 10px;
}
.input_size_selector {
  background-color: #edf0f8;
  display: flex;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px 10px 7px 10px;
  align-items: center;
  font-size: 10px;
}
.input_sizes_small {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #edf0f8;
  
}

.input_sizes_mediam {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}
.input_sizes_large {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}

.input_sizes_xl {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
  justify-content: center;
  display: flex;
}

.input_sizes_xxl {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 7px 10px 7px 10px;
  gap: 8px;
  background-color: #f3f3f3;
}

.button_cart_seletor {
  display: flex;
  gap: 25px;
  margin: 10px 0px;
}

.button_add_delete {
  
  height: fit-content;
  border: 2px solid #f3f3f3;
  border-radius: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
}
.button_delete {
  font-size: 20px;
  font-weight: 700;
  color: #3a4980;
  border: none;
}
.adding_number {
  font-size: 18px;
  font-weight: 700;
  color: #3a4980;
}
.button_add {
  font-size: 20px;
  font-weight: 700;
  color: #3a4980;
  border: none;
}
.add_to_cart_container{
  width: 50%;
}
.btn_add_cart {
  background-color: #3a4980;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  
  width: fit-content;
  border: transparent;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

.text_detiles {
  color: #a3a3a3;
  font-weight: 300;
  margin: 10px 0px;
  font-size: 12px;
}
  
} */

@media screen and (max-width: 992px) {
  .body {
    display: flex;
    justify-content: center;
  }
  .main_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px;
    justify-content: center;
  }
  .picture_container {
    width: 100%;
    text-align: center;
  }
  .info_container {
    width: 100%;
    text-align: center;
  }
  .down_photo {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
    
  }
  .price_container{
    text-align: center;
  }
  .input_size_selector {
    background-color: #edf0f8;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
  }
  .input_size_selectors_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .button_cart_seletor {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .new_price{
    display: flex;
     align-items: center;
     justify-content: center;
  }
  #color_variant_container {
    display: flex;
    gap: 12px;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:685px) {
  .body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .main_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 15px ;
    justify-content: center;
  }
  .picture_container {
    width: 100%;
    text-align: center;
  }
  .info_container {
    width: 100%;
    text-align: center;
  }
  .profile_bg_img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #edf0f8;
  }
  .down_photo {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
    
  }
  .down_image_photo_in {
    height: 65px;
    width: 67px;
    border-radius: 6px;
  }
  .price_container{
    text-align: center;
  }
  .input_size_selector {
    background-color: #edf0f8;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 6px 5px 6px;
  }
  .btn_add_cart {
    background-color: #3a4980;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    width: fit-content;
    border: transparent;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .button_add_delete {
    width: fit-content;
    height: fit-content;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
  }

  .input_size_selectors_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}